 + if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [40]:
print(type(1 << 63-1))
print(type(-(1 << 63-1)))

<type 'int'>
<type 'int'>

In [43]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, '*', j, '=', i*j)
      
i = 2
while i < 10:
    j = 1
    while j < 10:
        print(i, '*', j, '=', i*j)
        j += 1
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [44]:
# 1 -100 2, 11의 배수
for n in range(1, 101):
    if n % 2 == 0 or n % 11 == 0:
        print(n, end=' ')

2 4 6 8 10 11 12 14 16 18 20 22 24 26 28 30 32 33 34 36 38 40 42 44 46 48 50 52 54 55 56 58 60 62 64 66 68 70 72 74 76 77 78 80 82 84 86 88 90 92 94 96 98 99 100

In [46]:
for n in range(1, 101):
    if n % 2 == 0:
        print(n, end=' ')
    elif n % 11 == 0:
        print(n, end=' ')

2 4 6 8 10 11 12 14 16 18 20 22 24 26 28 30 32 33 34 36 38 40 42 44 46 48 50 52 54 55 56 58 60 62 64 66 68 70 72 74 76 77 78 80 82 84 86 88 90 92 94 96 98 99 100

In [49]:
# 최대값
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

max_val = a[0]
min_val = a[0]

# 0 - 255
max_val = -(1 << 63 - 1)
min_val = 1 << 63 - 1

for i in range(1, len(a)):
    if a[i] > max_val:
        max_val = a[i]
        
for i in a:
    if i > max_val:
        max_val = i
    
    if i < min_val:
        min_val = i
        
print(max_val)
print(min_val)

99
1

In [50]:
total = 0
for i in a:
    total += i
    
print(float(total) / len(a))

37.0

* 연습문제 2)

 알고리즘의 설명을 듣고 아래 코드를 작성하세요
 1. 주어진 정수를 담는 리스트를 정렬하는 코드를 작성하세요. (selection sort)
 2. 다음과 같은 점화식을 만족하는 수열을 피보나치 수열이라고 합니다. f0 = 1, f1 = 1, fn = fn-1 + fn-2 
    이때, 15번째까지 피보나치 수열을 출력하시오.

In [51]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

for i, val in enumerate(a):
    min_val = a[i]
    min_idx = i
    
    for j in range(i+1, len(a)):
        if min_val > a[j]:
            min_val = a[j]
            min_idx = j
            
    a[i], a[min_idx] = a[min_idx], a[i]
    '''temp = a[i]
    a[i] = a[min_idx]
    a[min_idx] = temp'''
    
print(a)

[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]

In [52]:
fibo = [1, 1]
for i in range(2, 15):
    fibo.append(fibo[i-1] + fibo[i-2])
    
print(fibo)

i = 2
while i < 15:
    fibo.append(fibo[i-1] + fibo[i-2])
    i += 1

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [19]:
import random
nums = random.sample(list(range(1, 50)), 10)
print(nums)

[29, 41, 9, 12, 46, 19, 23, 4, 27, 45]

In [20]:
print(nums)
for j, n in enumerate(nums):
    min_rest = n
    min_index = j
    
    for i in range(j+1, len(nums)):
        if min_rest > nums[i]:
            min_rest = nums[i]
            min_index = i
            
    nums[j], nums[min_index] = nums[min_index], nums[j]
    
print(nums)

[29, 41, 9, 12, 46, 19, 23, 4, 27, 45]
[4, 9, 12, 19, 23, 27, 29, 41, 45, 46]

In [21]:
fibo = [1, 1]
for i in range(2, 15):
    fibo.append(fibo[i-1] + fibo[i-2])
    
print(fibo)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]